extends layout

block content
  h1 API 
  p This is my API:
  ul 
    li /api/ This page 
    li 
      a(href='/api/users') /api/users
      |  List of users
    li 
      a(href='/api/candidates') /api/candidates
      |  List of candidates      